<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <title>INICIO</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autor/form">Formulario autores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autores">Lista de autores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/libro/form">Formulario de libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/libros">Lista de libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/editorial/form">Formulario de Editorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/editoriales">Lista de editoriales</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <section>
        <center>
            <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBkZSUyMGxhJTIwYmlibGlvdGVjYXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
                 alt="imagen-biblioteca" height="450" width="1000">
        </center>
    </section>

    <footer>
        <div class="bg-dark">
            <center><p style="color:white">Desarrollado por <b>Dayanna Macay</b> 2023</p></center>
        </div>
    </footer>

</body>
</html>